{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="flex items-center justify-center">
        <div class="w-48 text-sm font-medium bg-gray-700 border-gray-600 text-white rounded-lg">
            <a href="#" aria-current="true" class="block w-full px-4 py-2 text-black bg-white border-b border-gray-600 rounded-t-lg cursor-pointer">
                Choose one:
            </a>
            <a href="{% url 'hospitalIndex' %}" class="block w-full px-4 py-2 border-b border-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-500 focus:text-white">
                Hospital
            </a>
            <a href="#" class="block w-full px-4 py-2 border-b border-gray-600 cursor-pointer hover:bg-gray-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-500 focus:text-white">
                Others
            </a>
        </div>
    </div>

{% endblock %}
